<aside class="side-bar">

  <div class="wedget">
    <h3>side-bar</h3>
    <ul class="wedget__items">
      <li><a href="">title1</a></li>
      <li><a href="">title2</a></li>
      <li><a href="">title3</a></li>
      <li><a href="">title4</a></li>
      <li><a href="">title5</a></li>
    </ul>

  </div>

  <div class="side-bar__wedget">
    <h3>side-bar2</h3>
    <ul class="wedget__items">
      <li><a href="">title1</a></li>
      <li><a href="">title2</a></li>
      <li><a href="">title3</a></li>
      <li><a href="">title4</a></li>
      <li><a href="">title5</a></li>
    </ul>
  </div>

  <div class="side-bar__wedget">
    <h3>side-bar3</h3>
    <ul class="wedget__items">
      <li><a href="">title1</a></li>
      <li><a href="">title2</a></li>
      <li><a href="">title3</a></li>
      <li><a href="">title4</a></li>
      <li><a href="">title5</a></li>
    </ul>
  </div>

</aside>

