<aside class="side-bar">

  <div class="side-bar__wedget">
    <h3>side-bar</h3>
    <li><a href="">title1</a></li>
    <li><a href="">title2</a></li>
    <li><a href="">title3</a></li>
    <li><a href="">title4</a></li>
    <li><a href="">title5</a></li>

  </div>

  <div class="side-bar__wedget">
    <h3>side-bar</h3>
    <li><a href="">title1</a></li>
    <li><a href="">title2</a></li>
    <li><a href="">title3</a></li>
    <li><a href="">title4</a></li>
    <li><a href="">title5</a></li>

  </div>

  <div class="side-bar__wedget">
    <h3>side-bar</h3>
    <li><a href="">title1</a></li>
    <li><a href="">title2</a></li>
    <li><a href="">title3</a></li>
    <li><a href="">title4</a></li>
    <li><a href="">title5</a></li>

  </div>

</aside>


<h3>side-bar</h3>
